{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Login" class="btn btn-default">
    </form>
</div>
{% endblock %}




{% comment %} 

login Info:

username: admin
email: admin@gmail.com
password: admin123456789


username: user
email: user@gmail.com
password: user123456789


username: user2
email: user2@gmail.com
password: user123456789

{% endcomment %}
