{% comment %} {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <p>You are not logged in.</p>
{% endif %} {% endcomment %}


{% comment %} {% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Logout</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Logout" class="btn btn-default">
    </form>
</div>
{% endblock %} {% endcomment %}


{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Logout</h1>
    <p>Are you sure you want to logout?</p>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Logout" class="btn btn-danger">
    </form>
</div>
{% endblock %}


